name: Build

on:
  push:
    branches:
      - develop

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: self-hosted
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VITE_ENV=development
            VITE_API_URL=https://api-dev.plannify.be/driver/v1

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: "${{ env.REGISTRY }}/${{ github.repository }}:${{ github.sha }}"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

  update-infra:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v3
        with:
          repository: plannify-truck-driver-app/infrastructure
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Update webapp deployment with the new version
        run: |
          VERSION=${{ github.sha }}
          FILE="yaml-applications/dev/driver-front/deployment.yaml"

          echo "Updating image tag in $FILE to $VERSION"
          sed -i "s|\(ghcr.io/plannify-truck-driver/web-driver-app:\).*|\1$VERSION|" $FILE

          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add $FILE
          git commit -m "chore: update driver webapp DEV image to $VERSION"
          git push origin HEAD:main
